dapeng-spring/src/main/resources/META-INF/service.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://soa-springtag.dapeng.com/schema/service"
            targetNamespace="http://soa-springtag.dapeng.com/schema/service"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="service" type="fieldType"/>
    <xsd:complexType name="fieldType">
        <xsd:attribute name="id" type="xsd:ID" use="optional"/>
        <xsd:attribute name="ref" type="xsd:string"/>
    </xsd:complexType>

</xsd:schema>